@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=The+Nautigal&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 65.2%;
  font-family: "The Nautigal", cursive;
  color: rgb(44, 29, 99);
  font-weight: 550;
}
h1 {
  font-size: 3.6rem;
}
header {
  height: 100vh;
  background: linear-gradient(rgba(247, 240, 240, 0.6), rgba(0, 0, 0, 0.6)),
    url(media/imag/245757623_102477538890833_814133591581424992_n.jpg);
  background-position-y: center;
  background-size: cover;
}
nav {
  padding: 2% 8%;
  display: flex;
  justify-content: space-between;
}
li {
  display: inline;
  margin: 3px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  font-size: 1.8rem;
}
.logo h1 {
  color: red;
}
a:hover {
  color: red;
  font-size: 3.6rem;
  transition: 10ms;
}
.icono-menu {
  display: none;
  position: absolute;
  right: 20px;
  top: 28px;
}
.cont-header {
  width: 50%;
  position: relative;
  top: 10%;
  left: 10%;
  white-space: pre-line;
}
h2 {
  font-size: 4rem;
}
p {
  font-size: 1.6rem;
}
form {
  margin: 3%;
}
input {
  font-size: 1.6rem;
  width: 50%;
}
.suscribirse {
  display: block;
  margin-top: 3%;
  width: 50%;
  font-size: 2rem;
  background-color: rgb(28, 147, 202);
  border: 1px rgb(28, 147, 202);
  border-radius: 2%;
  color: rgb(153, 60, 44);
}
h3 {
  color: black;
  font-size: 1.8rem;
}
.contenedor-quienessomos {
  display: flex;
  justify-content: space-between;
}
.Compañia,
.Historia,
.testimonios {
  width: 30%;
}
@media only screen and (max-width: 768px) {
  .icono-menu {
    display: block;
  }
  nav {
    flex-direction: column;
  }
  nav ul {
    background-color: rgb(44, 13, 131);
    display: none;
  }
  .mostrar {
    display: block;
  }
  nav ul li {
    display: block;
    padding: 1%, 0;
  }
  nav ul li a {
    color: rgb(185, 19, 19);
  }
}
